[submodule "vendor/cmark-gfm"]
	path = vendor/cmark-gfm
	url = https://github.com/kivikakk/cmark-gfm.git
[submodule "vendor/htmlentities.zig"]
	path = vendor/htmlentities.zig
	url = https://github.com/kivikakk/htmlentities.zig
[submodule "vendor/libpcre.zig"]
	path = vendor/libpcre.zig
	url = https://github.com/kivikakk/libpcre.zig
[submodule "vendor/zig-clap"]
	path = vendor/zig-clap
	url = https://github.com/kivikakk/zig-clap
[submodule "vendor/zunicode"]
	path = vendor/zunicode
	url = https://github.com/kivikakk/zunicode
