name: CommonMark Specs

on: [push, pull_request]

jobs:
  specs:
    name: Run CommonMark specs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
      - uses: mlugg/setup-zig@v2
        with:
          version: 0.15.1
      - run: make spec
