name: Zig

on:
  push:
  pull_request:

jobs:
  tests:
    strategy:
      matrix:
        zig-version: ["0.15.1"]
        runs-on: ["ubuntu-latest", "macos-latest", "windows-latest"]
    runs-on: ${{ matrix.runs-on }}
    steps:
      - uses: actions/checkout@v6
      - uses: mlugg/setup-zig@v2
        with:
          version: ${{ matrix.zig-version }}
      - run: zig build
      - run: zig build test
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
      - uses: mlugg/setup-zig@v2
        with:
          version: 0.15.1
      - run: zig fmt --check build.zig src/*.zig
